input.rf-cal-inp, input[type='submit'], select {
    font-size: 80%;
}

label {
    margin-left: 3em;
    display: inline-block;
}

a:visited, a:link, a:active {
    color: blue;
    text-decoration: none;
    font-size: 90%;
    margin: 0.5em;
    vertical-align: middle;
}

form {
    margin: 0;
}

a:hover {
    color: red;
}

td, th {
    padding: 0.2em 1em;
    text-align: center;
}

table {
    margin-bottom: 2em;
}

.bordered, .bordered td, .bordered th {
    border: 1px solid black;
    border-collapse: collapse;
}

th {
    background-color: #ee5;
}

td.title {
    text-align: left;
    font-weight: bold;
    background-color: #ee5;
}

input, select {
    display: inline-block;
    margin: 0.2em 1em;
}

.block-links a {
    display: block;
}

#navigation a {
    display: inline-block;
    /*width: 10em;*/
    text-align: center;
    margin: 0 2em;
    font-size: 1em;
    text-transform: uppercase;
}
