input.rf-cal-inp, input[type='submit'], select, textarea, input[type="text"], input[type="password"] {
    font-size: 80%;
}

label {
    margin-left: 3em;
    display: inline-block;
}

a:visited, a:link, a:active {
    color: blue;
    text-decoration: none;
    font-size: 90%;
    margin: 0.5em;
    vertical-align: middle;
}

form {
    margin: 0;
}

a:hover {
    color: red;
}

.centered-table td, .centered-table th {
    padding: 0.2em 1em;
    text-align: center;
}

table.centered-table {
    margin: 2em 0;
}

.bordered, .bordered td, .bordered th {
    border: 1px solid black;
    border-collapse: collapse;
}

body {
    margin: 1em 3em;
}

th {
    background-color: #ee5;
}

td.title {
    text-align: left;
    font-weight: bold;
    background-color: #ee5;
}

input, select {
    display: inline-block;
    margin: 0.2em 1em;
}

.block-links a {
    display: block;
}

#navigation a {
    display: inline-block;
    /*width: 10em;*/
    text-align: center;
    margin: 0 2em;
    font-size: 1em;
    text-transform: uppercase;
}

.left {
    text-align: left;
    padding-left: 0.5em;
}

.right, .left {
    padding: 0.1em 0.5em;
}

.right:after {
    content: ':'
}

.right {
    text-align: right;
    color: #555;
    font-size: 90%;
    vertical-align: middle;
    padding-right: 0.5em;
}

.bordered .right {
    background-color: #ee5;
    font-weight: bold;
}

.right input, .left input, .left select {
    margin: 0;
    display: inline-block;
    width: 100%;
}

input[type='submit'] {
    display: inline-block;
    width: inherit;
}

.centered-table tfoot td {
    text-align: right;
}
