<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jaxws="http://cxf.apache.org/jaxws"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
         http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
         http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
         http://cxf.apache.org/jaxws  http://cxf.apache.org/schemas/jaxws.xsd">

    <context:component-scan base-package="cz.cvut.fel.aos" annotation-config="true"/>

    <!-- Registers Spring's standard post-processors for annotation-based configuration like @Repository -->
    <context:annotation-config/>

    <import resource="classpath:META-INF/cxf/cxf.xml"/>

    <bean id="destinationServiceImpl" class="cz.cvut.fel.aos.booking.service.destination.DestinationServiceImpl"/>
    <jaxws:endpoint id="destinationService" implementor="#destinationServiceImpl" address="/DestinationService"/>

    <bean id="flightServiceImpl" class="cz.cvut.fel.aos.booking.service.flight.FlightServiceImpl"/>
    <jaxws:endpoint id="flightService" implementor="#flightServiceImpl" address="/FlightService"/>

    <bean id="reservationServiceImpl" class="cz.cvut.fel.aos.booking.service.reservation.ReservationServiceImpl"/>
    <jaxws:endpoint id="reservationService" implementor="#reservationServiceImpl" address="/ReservationService"/>

    <bean id="persistenceUnitManager" class="org.springframework.orm.jpa.persistenceunit.DefaultPersistenceUnitManager"/>

    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="persistenceUnitName" value="flightSystemPersistence"/>
        <property name="persistenceUnitManager" ref="persistenceUnitManager"/>
    </bean>

    <bean id="txManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory"/>
    </bean>

    <tx:annotation-driven transaction-manager="txManager"/>

</beans>
