<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jaxws="http://cxf.apache.org/jaxws"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:jee="http://www.springframework.org/schema/jee"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
         http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd

         http://cxf.apache.org/jaxws  http://cxf.apache.org/schemas/jaxws.xsd
         http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.0.xsd">

    <context:component-scan base-package="cz.cvut.fel.aos" annotation-config="true"/>

    <!-- Registers Spring's standard post-processors for annotation-based configuration like @Repository -->
    <context:annotation-config/>

    <import resource="classpath:META-INF/cxf/cxf.xml"/>

    <bean id="destinationServiceImpl" class="cz.cvut.fel.aos.bookingserver.service.destination.DestinationServiceImpl"/>
    <jaxws:endpoint id="destinationService" implementor="#destinationServiceImpl" address="/DestinationService"/>

    <bean id="flightServiceImpl" class="cz.cvut.fel.aos.bookingserver.service.flight.FlightServiceImpl"/>
    <jaxws:endpoint id="flightService" implementor="#flightServiceImpl" address="/FlightService"/>

    <bean id="reservationServiceImpl" class="cz.cvut.fel.aos.bookingserver.service.reservation.ReservationServiceImpl"/>
    <jaxws:endpoint id="reservationService" implementor="#reservationServiceImpl" address="/ReservationService"/>

    <jee:jndi-lookup id="entityManagerFactory" jndi-name="persistence/flightSystemPersistence"/>

    <bean class="org.springframework.aop.framework.autoproxy.BeanNameAutoProxyCreator">
        <property name="proxyTargetClass" value="true"/>
        <property name="beanNames" value="*ServiceImpl"/>
        <property name="interceptorNames" value="loggingAdvice"/>
    </bean>

    <bean id="loggingAdvice" class="org.springframework.aop.interceptor.CustomizableTraceInterceptor">
        <property name="useDynamicLogger" value="true"/>
        <property name="hideProxyClassNames" value="true"/>
        <property name="enterMessage" value="Entering method '$[methodName]' of class [$[targetClassShortName]], args: $[arguments]"/>
    </bean>

</beans>
