<module xmlns="urn:jboss:module:1.1" name="org.postgresql">

   <!-- Load with jboss-cli command:
        /subsystem=datasources/jdbc-driver=postgresql-driver:add(driver-name=postgresql-driver, driver-class-name=org.postgresql.Driver, driver-module-name=org.postgresql)
   -->

   <resources>
     <resource-root path="postgresql-9.2-1002.jdbc4.jar"/>
   </resources>

   <dependencies>
     <module name="javax.api"/>
     <module name="javax.transaction.api"/>
   </dependencies>

 </module>
