td, th {
    padding: 0.2em 1em;
    text-align: center;
}

table{
    margin-bottom: 2em;
}

table, tr, td, th {
    border: 1px solid black;
    border-collapse: collapse;
}

th {
    background-color: #ee5;
}

td.title {
    text-align: left;
    font-weight: bold;
    background-color: #ee5;
}

input, select {
    display:inline-block;
    margin: 0.2em 1em;
}
